%h3
  Todays Collection-
  =@closed_cash.created_at
  to
  =@closed_cash.updated_at
  %table
    %tr
      %td
        Cash
      %td
        =@closed_cash.cash
    %tr
      %td
        Credit Card
      %td
        =@closed_cash.card
    %tr
      %td
        Debt
      %td
        =@closed_cash.debt
    %tr
      %td
        Free
      %td
        =@closed_cash.free
    %tr
      %td
        Total
      %td
        =@closed_cash.total
  
