%h3
  Last Close Cash on :
  =@closed_cash.created_at.in_time_zone
%table.table.table-bordered
  %tr
    %td
      Total Sale
    %td
      = (@cash || 0)   +  (@card || 0 )  + ( @debt || 0 ) + (@free || 0)
  %tr
    %td
      Total Cash
    %td
      - if @cash
        =link_to @cash, "#",:id => "cash"
      - else
        0
  %tr.cash.details{:style => "display:none"}
    %td{:colspan => 2}
      %table.table.table-bordered
        %th
          Number
        %th
          Time
        %th 
          Room
        %th
          Amount
        -@total_cash.each do |i|
          -t = Invoice.find(i.owner_id) 
          %tr
            %td 
              =t.id
            %td
              =t.updated_at.in_time_zone
            %td
              - a = ""
              -t.checkins.each do |c|
                -a = a + c.room.number + ","
              =a
            %td
              =i.amount

  %tr
    %td
      Total Card
    %td
      - if @card
        =link_to @card, "#",:id => "card"
      - else
        0 
  %tr.card.details{:style => "display:none"}
    %td{:colspan => 2}
      %table
        %th
          Number
        %th
          Time
        %th 
          Room
        %th
          Amount
        -@total_card.each do |i|
          -t = Invoice.find(i.owner_id) 
          %tr
            %td 
              =t.id
            %td
              =t.updated_at.in_time_zone
            %td
              - a = ""
              -t.checkins.each do |c|
                -a = a + c.room.number + ","
              =a

            %td
              =i.amount


  %tr
    %td
      Total Debt
    %td
      - if @debt
        =link_to @debt, "#",:id => "debt"
      - else
        0
  %tr.debt.details{:style => "display:none"}
    %td{:colspan => 2}
      %table
        %th
          Number
        %th
          Time
        %th 
          Room
        %th
          Amount
        -@total_debt.each do |i|
          -t = Invoice.find(i.owner_id) 
          %tr
            %td 
              =t.id
            %td
              =t.updated_at.in_time_zone
            %td
              - a = ""
              -t.checkins.each do |c|
                -a = a + c.room.number + ","
              =a

            %td
              =i.amount


  %tr
    %td
      Total Free
    %td
      - if @free
        =link_to @free, "#",:id => "free"
      - else
        ="0"
  %tr.free.details{:style => "display:none"}
    %td{:colspan => 2}
      %table
        %th
          Number
        %th
          Time
        %th 
          Table
        %th
          Amount
        -@total_free.each do |i|
          -t = Invoice.find(i.owner_id) 
          %tr
            %td 
              =t.id
            %td
              =t.updated_at.in_time_zone
            %td
              - a = ""
              -t.checkins.each do |c|
                -a = a + c.room.number + ","
              =a

            %td
              =i.amount



=form_for @closed_cash, :url => lodge_create_close_cash_path(:id => @closed_cash.id), :remote => "true" do 
  =submit_tag "Close Cash", :class => "button btn-primary"


:javascript
  $(function(){
    $('#submitme').click(function() {

    });
    $('#cash').click(function(){
      $('.cash').toggle();
    });
    $('#card').click(function(){
      $('.card').toggle();
    });
    $('#debt').click(function(){
      $('.debt').toggle();
    });
    $('#free').click(function(){
      $('.free').toggle();
    });
  });
