%header.subhead.jumbotron
  .subnav-fixed.subnav
    %ul.nav.nav-pills
      %li.active
        =link_to "Home", lodge_home_list_path
      %li
        =link_to "New Checkin", new_lodge_checkin_path
      %li
        =link_to "Close Cash", "#"
      %li
        =link_to "Invoices", "#"
